/*
green  : #2ecc71
yellow : E8AA47
red    : #e74c3c
blue   : #3498db
tan    : FFFFE8
*/

/* superclass */

.click {
  cursor: pointer;
}

/* top of the page */

body {
  background: #ffffff;
}

#navbar {
  width: 100%;
  background: #ffffff;
}

#nav-inner {
  width: 1200px;
  margin: 0px auto;
  padding-top: 12px;
}

#nav-inner h1 {
  font-size: 7.0em;
  font-weight: 300;
  display: inline;
}

#title1 {
  color: #212121;
}

#title2 {
  color: #DEDEDE;
}

#search {
  float: right;
  width: 400px;
  background: none;
  border: none;
  border-bottom: 1px solid #DEDEDE;
  padding-left: 5px;
  padding-right: 5px;
  outline: none;
  color: #ffffff;
  font-size: 2.0em;
  margin-top: 48px;
}

#search:focus {
  background: none;
  border: none;
  border-bottom: 1px solid #212121;
  color: #212121;
}

::-webkit-input-placeholder {
   color: #DEDEDE;
}

:-moz-placeholder { /* Firefox 18- */
   color: #DEDEDE;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #DEDEDE;  
}

:-ms-input-placeholder {  
   color: #DEDEDE;  
}

#main {
  width: 1200px;
  margin: 0px auto;
  padding-top: 40px;
}

/* creator */

#create {
  margin-bottom: 40px;
}

#addnew {
  font-size: 1.5em;
  color: #DEDEDE;
}

#addnew:hover {
  color: #212121;
}

#creator {
  display: inline-block;
  height: 24px;
}

#creator h2 {
  font-size: 1.2em;
  color: #3B3738;
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
  color: #dedede;
}

#creator input {
  display: inline-block;
  border: none;
  border-bottom: 1px solid #dedede;
  border-radius: 0px;
  width: 250px;
  padding-left: 3px;
  color: #222222;
  font-size: 1.2em;
}

#creator input:focus {
  outline: none;
  border-color: #222222;
  color: #222222;
}

#creator a {
  display: inline-block;
  margin-left: 10px;
  color: #dedede;
}

#ok:hover {
  color: #2ecc71;
}

#cancel:hover {
  color: #e74c3c;
}

.flash {
  background: #ffffff;
  border: 1px solid #e74c3c;
  border-radius: 3px;
  color: #e74c3c;
  padding: 3px;
  text-align: center;
  margin-top: 5px;
}

/* books */

.book {
  margin-bottom: 40px;
}

.cover {
  padding: 5px;
  border: 1px solid #3B3738;
  border-radius: 3px;
  display: inline-block;
}

.cover.faved {
  border-color: #2ecc71;
  color: #2ecc71;
  background: #D0F2DF;
}

.cover img {
  height: 160px;
}

.text {
  display: inline-block;
  vertical-align: top;
  width: 1000px;
  margin-left: 20px;
  margin-top: 30px;
  color: #3B3738;
}

.text span {
  display: block;
}

.text .title {
  font-size: 3.0em;
  font-weight: 100;
  padding-bottom: 5px;
}

.text .author {
  font-size: 1.5em;
  margin-left: 10px;
}

.controls {
  font-size: 0.9em;
  color: #dedede;
  margin-left: 15px;
  margin-top: 20px;
}

.controls span {
  color: #dedede;
  display: inline;
}

.controls .faved {
  color: #2ecc71;
}

.controls .favorite:hover {
  color: #2ecc71;
}

.controls .delete:hover {
  color: #e74c3c;
}

.controls .comments:hover {
  color: #3498db;
}

.text .controls .num-comments {
  display: inline;
}

/* comments */

.comment-section {
  margin-left: 15px;
  margin-top: 10px;
  border-top: solid 1px #dedede;
}

.comment-section .comment {
  padding: 5px 5px;
  border-top: solid 1px #dedede;
}

.comment-section input {
  border: none;
  font-size: 16px;
  width: 100%;
  padding: 4px 5px;
  color: #3498db;
}

.comment-section input:focus {
  outline: none;
}